apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.2
  creationTimestamp: null
  name: foldersettings.accessapproval.gcp.jet.crossplane.io
spec:
  group: accessapproval.gcp.jet.crossplane.io
  names:
    categories:
    - crossplane
    - managed
    - gcpjet
    kind: FolderSettings
    listKind: FolderSettingsList
    plural: foldersettings
    singular: foldersettings
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: READY
      type: string
    - jsonPath: .status.conditions[?(@.type=='Synced')].status
      name: SYNCED
      type: string
    - jsonPath: .metadata.annotations.crossplane\.io/external-name
      name: EXTERNAL-NAME
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: FolderSettings is the Schema for the FolderSettingss API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FolderSettingsSpec defines the desired state of FolderSettings
            properties:
              deletionPolicy:
                default: Delete
                description: DeletionPolicy specifies what will happen to the underlying
                  external when this managed resource is deleted - either "Delete"
                  or "Orphan" the external resource.
                enum:
                - Orphan
                - Delete
                type: string
              forProvider:
                properties:
                  enrolledServices:
                    description: "A list of Google Cloud Services for which the given
                      resource has Access Approval enrolled. Access requests for the
                      resource given by name against any of these services contained
                      here will be required to have explicit approval. Enrollment
                      can only be done on an all or nothing basis. \n A maximum of
                      10 enrolled services will be enforced, to be expanded as the
                      set of supported services is expanded."
                    items:
                      properties:
                        cloudProduct:
                          description: "The product for which Access Approval will
                            be enrolled. Allowed values are listed (case-sensitive):
                            * all * App Engine * BigQuery * Cloud Bigtable * Cloud
                            Key Management Service * Compute Engine * Cloud Dataflow
                            * Cloud Identity and Access Management * Cloud Pub/Sub
                            * Cloud Storage * Persistent Disk \n Note: These values
                            are supported as input, but considered a legacy format:
                            * all * appengine.googleapis.com * bigquery.googleapis.com
                            * bigtable.googleapis.com * cloudkms.googleapis.com *
                            compute.googleapis.com * dataflow.googleapis.com * iam.googleapis.com
                            * pubsub.googleapis.com * storage.googleapis.com"
                          type: string
                        enrollmentLevel:
                          description: 'The enrollment level of the service. Default
                            value: "BLOCK_ALL" Possible values: ["BLOCK_ALL"]'
                          type: string
                      required:
                      - cloudProduct
                      type: object
                    type: array
                  folderId:
                    description: ID of the folder of the access approval settings.
                    type: string
                  notificationEmails:
                    description: A list of email addresses to which notifications
                      relating to approval requests should be sent. Notifications
                      relating to a resource will be sent to all emails in the settings
                      of ancestor resources of that resource. A maximum of 50 email
                      addresses are allowed.
                    items:
                      type: string
                    type: array
                required:
                - enrolledServices
                - folderId
                type: object
              providerConfigRef:
                default:
                  name: default
                description: ProviderConfigReference specifies how the provider that
                  will be used to create, observe, update, and delete this managed
                  resource should be configured.
                properties:
                  name:
                    description: Name of the referenced object.
                    type: string
                required:
                - name
                type: object
              providerRef:
                description: 'ProviderReference specifies the provider that will be
                  used to create, observe, update, and delete this managed resource.
                  Deprecated: Please use ProviderConfigReference, i.e. `providerConfigRef`'
                properties:
                  name:
                    description: Name of the referenced object.
                    type: string
                required:
                - name
                type: object
              writeConnectionSecretToRef:
                description: WriteConnectionSecretToReference specifies the namespace
                  and name of a Secret to which any connection details for this managed
                  resource should be written. Connection details frequently include
                  the endpoint, username, and password required to connect to the
                  managed resource.
                properties:
                  name:
                    description: Name of the secret.
                    type: string
                  namespace:
                    description: Namespace of the secret.
                    type: string
                required:
                - name
                - namespace
                type: object
            required:
            - forProvider
            type: object
          status:
            description: FolderSettingsStatus defines the observed state of FolderSettings.
            properties:
              atProvider:
                properties:
                  enrolledAncestor:
                    type: boolean
                  id:
                    type: string
                  name:
                    type: string
                type: object
              conditions:
                description: Conditions of the resource.
                items:
                  description: A Condition that may apply to a resource.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last time this condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: A Message containing details about this condition's
                        last transition from one status to another, if any.
                      type: string
                    reason:
                      description: A Reason for this condition's last transition from
                        one status to another.
                      type: string
                    status:
                      description: Status of this condition; is it currently True,
                        False, or Unknown?
                      type: string
                    type:
                      description: Type of this condition. At most one of each condition
                        type may apply to a resource at any point in time.
                      type: string
                  required:
                  - lastTransitionTime
                  - reason
                  - status
                  - type
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
