apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.2
  creationTimestamp: null
  name: routes.compute.gcp.jet.crossplane.io
spec:
  group: compute.gcp.jet.crossplane.io
  names:
    categories:
    - crossplane
    - managed
    - gcpjet
    kind: Route
    listKind: RouteList
    plural: routes
    singular: route
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: READY
      type: string
    - jsonPath: .status.conditions[?(@.type=='Synced')].status
      name: SYNCED
      type: string
    - jsonPath: .metadata.annotations.crossplane\.io/external-name
      name: EXTERNAL-NAME
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Route is the Schema for the Routes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RouteSpec defines the desired state of Route
            properties:
              deletionPolicy:
                default: Delete
                description: DeletionPolicy specifies what will happen to the underlying
                  external when this managed resource is deleted - either "Delete"
                  or "Orphan" the external resource.
                enum:
                - Orphan
                - Delete
                type: string
              forProvider:
                properties:
                  description:
                    description: An optional description of this resource. Provide
                      this property when you create the resource.
                    type: string
                  destRange:
                    description: The destination range of outgoing packets that this
                      route applies to. Only IPv4 is supported.
                    type: string
                  name:
                    description: Name of the resource. Provided by the client when
                      the resource is created. The name must be 1-63 characters long,
                      and comply with RFC1035.  Specifically, the name must be 1-63
                      characters long and match the regular expression '[a-z]([-a-z0-9]*[a-z0-9])?'
                      which means the first character must be a lowercase letter,
                      and all following characters must be a dash, lowercase letter,
                      or digit, except the last character, which cannot be a dash.
                    type: string
                  network:
                    description: The network that this route applies to.
                    type: string
                  nextHopGateway:
                    description: 'URL to a gateway that should handle matching packets.
                      Currently, you can only specify the internet gateway, using
                      a full or partial valid URL: * ''https://www.googleapis.com/compute/v1/projects/project/global/gateways/default-internet-gateway''
                      * ''projects/project/global/gateways/default-internet-gateway''
                      * ''global/gateways/default-internet-gateway'' * The string
                      ''default-internet-gateway''.'
                    type: string
                  nextHopIlb:
                    description: "The IP address or URL to a forwarding rule of type
                      loadBalancingScheme=INTERNAL that should handle matching packets.
                      \n With the GA provider you can only specify the forwarding
                      rule as a partial or full URL. For example, the following are
                      all valid values: * 10.128.0.56 * https://www.googleapis.com/compute/v1/projects/project/regions/region/forwardingRules/forwardingRule
                      * regions/region/forwardingRules/forwardingRule \n When the
                      beta provider, you can also specify the IP address of a forwarding
                      rule from the same VPC or any peered VPC. \n Note that this
                      can only be used when the destinationRange is a public (non-RFC
                      1918) IP CIDR range."
                    type: string
                  nextHopInstance:
                    description: 'URL to an instance that should handle matching packets.
                      You can specify this as a full or partial URL. For example:
                      * ''https://www.googleapis.com/compute/v1/projects/project/zones/zone/instances/instance''
                      * ''projects/project/zones/zone/instances/instance'' * ''zones/zone/instances/instance''
                      * Just the instance name, with the zone in ''next_hop_instance_zone''.'
                    type: string
                  nextHopInstanceZone:
                    description: The zone of the instance specified in next_hop_instance.
                      Omit if next_hop_instance is specified as a URL.
                    type: string
                  nextHopIp:
                    description: Network IP address of an instance that should handle
                      matching packets.
                    type: string
                  nextHopVpnTunnel:
                    description: URL to a VpnTunnel that should handle matching packets.
                    type: string
                  priority:
                    description: "The priority of this route. Priority is used to
                      break ties in cases where there is more than one matching route
                      of equal prefix length. \n In the case of two routes with equal
                      prefix length, the one with the lowest-numbered priority value
                      wins. \n Default value is 1000. Valid range is 0 through 65535."
                    format: int64
                    type: integer
                  project:
                    type: string
                  tags:
                    description: A list of instance tags to which this route applies.
                    items:
                      type: string
                    type: array
                required:
                - destRange
                - name
                - network
                type: object
              providerConfigRef:
                default:
                  name: default
                description: ProviderConfigReference specifies how the provider that
                  will be used to create, observe, update, and delete this managed
                  resource should be configured.
                properties:
                  name:
                    description: Name of the referenced object.
                    type: string
                required:
                - name
                type: object
              providerRef:
                description: 'ProviderReference specifies the provider that will be
                  used to create, observe, update, and delete this managed resource.
                  Deprecated: Please use ProviderConfigReference, i.e. `providerConfigRef`'
                properties:
                  name:
                    description: Name of the referenced object.
                    type: string
                required:
                - name
                type: object
              writeConnectionSecretToRef:
                description: WriteConnectionSecretToReference specifies the namespace
                  and name of a Secret to which any connection details for this managed
                  resource should be written. Connection details frequently include
                  the endpoint, username, and password required to connect to the
                  managed resource.
                properties:
                  name:
                    description: Name of the secret.
                    type: string
                  namespace:
                    description: Namespace of the secret.
                    type: string
                required:
                - name
                - namespace
                type: object
            required:
            - forProvider
            type: object
          status:
            description: RouteStatus defines the observed state of Route.
            properties:
              atProvider:
                properties:
                  id:
                    type: string
                  nextHopNetwork:
                    type: string
                  selfLink:
                    type: string
                type: object
              conditions:
                description: Conditions of the resource.
                items:
                  description: A Condition that may apply to a resource.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last time this condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: A Message containing details about this condition's
                        last transition from one status to another, if any.
                      type: string
                    reason:
                      description: A Reason for this condition's last transition from
                        one status to another.
                      type: string
                    status:
                      description: Status of this condition; is it currently True,
                        False, or Unknown?
                      type: string
                    type:
                      description: Type of this condition. At most one of each condition
                        type may apply to a resource at any point in time.
                      type: string
                  required:
                  - lastTransitionTime
                  - reason
                  - status
                  - type
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
